.authorsnav{
  width:50%;
  min-width: 450px;
  margin: 10px auto;
  border-radius: 12px;
  display :flex;
  justify-content: center;
  align-items: center;
}
.authorsul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:90%;
}
.articleheading{
  font-size: 34px;
  font-weight: 800;
  background: -webkit-linear-gradient(left,rgba(102, 237, 24, 0.938),rgba(154, 236, 72, 0.911));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin:7px;
}
.articleheadingdiv{
  background-color: rgb(40, 40, 40);
  width:235px;
  border-radius: 50px;
  border: 2px solid white;
  margin:20px auto;
  padding:8px;
  opacity: 95%;
}
@media screen and (max-width:1060px){
  .authorsnav{
    min-width: 70%;
  }
  .authorsul{
    justify-content: space-evenly;
  }
}
@media screen and (max-width:760px){
  .authorsnav{
    min-width: 95%;
  }
  .authorsul{
    justify-content: space-evenly;
  }
}
@media screen and (max-width:530px){
  .articleheading{
    font-size: 4.4vw;
  }
  .articleheadingdiv{
    width:37vw;
  }
}
