.addarticle{
  width:50%;
  margin:15px auto;
  border-radius: 12px;
  padding:10px;
  background-color: white;
  color:black;
  min-width: 450px;
}
.addarticle div{
  text-align: left;
  color: black;
  margin:20px auto;
}
.addarticle label{
  text-align: left;
  color: black;
  display:inline;
  margin:5px 10px;
}
textarea{
  width:80%;
  border-radius: 8px;
  color: black;
  font-size: 18px;
  text-align: left;
}
.textarea {
  width:100%;
  display:flex;
  justify-content: center;
}
select{
  padding:5px;
  border-radius: 8px;
}
@media screen and (max-width:500px) {
  .addarticle{
    min-width:95%;
  }
  textarea{
    font-size: 15px;
  }
}
.addarticle input[type="text"],
.addarticle select,
.addarticle textarea {
  flex: 2;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #000; /* Black border */
  font-size: 16px;
  color: #333;
}
